* {
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: normal;
    color: black;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, aqua, pink);
}

.calculator {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.display {
    grid-column: 1 / -1;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    color: rgba(5, 5, 5, .75);
    font-size: 2em;
}

.calculator > button {
    border: 1px solid #000;
    outline: none;
    background: rgba(12, 12, 12, 0.75);
    cursor: pointer;
    font-size: 2em;
    color: white;
}

.calculator > button:hover {
    background: rgba(12, 12, 12, 0.9);
}

.calculator > .op-btn {
    background-color: rgba(50, 50, 50, 0.1);
}

.calculator > .op-btn:hover {
    background-color: rgba(50, 50, 50, 0.5);
}

.calculator > .op-btn:active {
    background-color: rgba(50, 50, 50, 0.1);
}

.calculator > .fun-btn {
    background-color: rgba(0, 0, 0, 0.25);
}

.calculator > .fun-btn:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
