body {
    font-family: Arial;
}

.calculator {
    max-width: 350px;
    margin: 30px auto;
    background: aqua;
    text-align: left;
    padding: 30px;
    border-radius: 10px;
}

.display {
    background: white;
    width: 304px;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid black;
    font: bold 1.5em Arial;
    text-align: right;
}

.btns {
    margin: auto;
    width: 314px;
    background: white;
}

.num-btn, .op-btn, .fun-btn {
    padding: 20px;
    width: 75px;
    border: 1px solid #333;
    border-radius: 12px;
    background: rgb(42, 47, 51);
    cursor: pointer;
    font: 2em Arial;
    color: white;
}

.fun-btn {
    background: rgb(0, 128, 255);
    font-size: 1.5em;
}

.op-btn {
    background: rgb(0, 128, 255);
    font-size: 1.5em;
}

